*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Nunito Sans", sans-serif;
    color: #171313;
}
.main{
    background-color: #ffd0d5;
    min-height: 100vh;
}
.container{
    max-width: 1800px;
    width: 100%;
    margin: auto;
}
.header nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 0;
}

.header nav .logo-wrapper img{
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.menu-wrapper ul{
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
}
.menu-wrapper ul li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.menu-wrapper ul li a{
   font-size: 18px;
   font-weight: 700;
   color: #171313;
   text-decoration: none;
}
.menu-wrapper ul li a:hover{
   opacity: 0.6;
}
.hero-content-grid{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: -webkit-max-content -webkit-max-content 1fr;
    -ms-grid-columns: max-content max-content 1fr;
    grid-template-columns: -webkit-max-content -webkit-max-content 1fr;
    grid-template-columns: max-content max-content 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 50px;
}
.hero-content-grid > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.hero-content-grid > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}
.hero-content-grid > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.hero-text{
    max-width: 735px;
    padding-right: 64px;
}

.hero-text h1 {
    font-size: 62px;
    line-height: 76px;
    font-weight: 800;
    word-spacing: -6px;
}
.hero-text h5 {
    font-size: 14px;
    font-weight: 900;
}

.hero-text a {
    color: #171313;
    text-decoration: none;
}
.hero-text h1:hover, .hero-text h5:hover  {
    text-decoration: underline;
}
.control-button-wrraper button{
    background-color: transparent;
    border: transparent;
    padding: 12px;
    cursor: pointer;
    width: 48px;
    height: 48px;
}
.control-button-wrraper div{
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    position: relative;
    margin-left: -12px;
    margin-right: 85px;
}
.card-stack-module{
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    min-height: calc(70vmin + 5rem);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.card-stack-module .card-stack{
    position: relative;
    z-index: 9;
    max-width: 610px;
    margin-right: 64px;
}
.card-stack-module .card-stack img{
    width: 100%;
    position: relative;
    -webkit-box-shadow: rgba(0, 0, 0, 0.336) 2px 5px 27px;
            box-shadow: rgba(0, 0, 0, 0.336) 2px 5px 27px;
    z-index: 99;
}
.card-stack-module .card-stack::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 99%;
    background-color: #171313;
    left: 0;
    top: 0;
    -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
            transform: rotate(5deg);
    -webkit-box-shadow: rgba(0, 0, 0, 0.185) 2px 5px 27px;
            box-shadow: rgba(0, 0, 0, 0.185) 2px 5px 27px;
}
.card-stack-module .card-stack::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 99%;
    background-color: #ff9898;
    left: 0;
    top: 0;
    -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
    -webkit-box-shadow: rgba(0, 0, 0, 0.164) 2px 5px 27px;
            box-shadow: rgba(0, 0, 0, 0.164) 2px 5px 27px;
}
.bottom-slide{
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
}
.bottom-slide a{
    color: #171313;
    text-decoration: none;
}
.left-ind{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.left-ind span{
    font-size: 14px;
    font-weight: 800;
}
.left-ind .bar{
    width: 50px;
    height: 2px;
    margin: 0 15px;
    background-color: #49494954;
}
.left-ind .bar .progress{
    width: 50%;
    height: 100%;
    background-color: #000000;
}

.scroll-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.scroll-down p {
    font-size: 14px;
    font-weight: 800;
    margin-right: 10px;
}

.scroll-down span {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #00000052;
    border-radius: 50%;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.bottom-slide a:hover .scroll-down span {
    background-color: #171313;
    border: 1px solid #00000052;
    color: #fff;
}
.new-releases-wrapper {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr -webkit-max-content;
    -ms-grid-columns: 1fr max-content;
    grid-template-columns: 1fr -webkit-max-content;
    grid-template-columns: 1fr max-content;
    -ms-grid-rows: (-webkit-max-content)[3];
    -ms-grid-rows: (max-content)[3];
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
    margin-bottom: 50px;
}
.new-releases-wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.new-releases-wrapper > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}
.new-releases-wrapper > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}
.new-releases-wrapper > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}
.new-releases-wrapper > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.new-releases-wrapper > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
}

.new-releases-wrapper h2 {
    font-size: 30px;
    font-weight: 800;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -ms-grid-column-span: 1;
    grid-column: span 1;
}

.new-releases-content-grid{
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -ms-grid-column-span: 2;
    grid-column: span 2;
}

a.view-page-arrow {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-grid-column-span: 1;
    grid-column: span 1;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
    color: #171313;
}

a.view-page-arrow .arrow {
    width: 30px;
    height: 30px;
    padding: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin-left: 10px;
}

section#new-releases {
    padding: 60px 0;
}

a.view-page-arrow:hover .arrow {
    background: #171313;
    color: #fff;
}
.new-releases-content-grid ul{
    list-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    margin-top: 24px;
}

.new-releases-content-grid ul li {
    -ms-grid-column-span: 3;
    grid-column: span 3;
}

.new-releases-content-grid ul li a{
    text-decoration: none;
    color: #171313;
}

.new-releases-content-grid ul li a:hover .card-details h2{
    text-decoration: underline;
}

.card-image img {
    width: 100%;
}

.card-details ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.card-details ul li{
    background-color: #171313;
    color: #fff;
    padding: 2px 5px
}

.card-details ul li h5{
    font-weight: 600;
}

.card-details ul li:hover{
    opacity: 0.6;
}

.card-details ul li.green{
    background-color: #cdf567;
    color: #171313;
}

.card-details h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 10px 0;
}

.card-details p {
    font-size: 14px;
    line-height: 16px;
}
.Spotlight-members-wrraper {
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: -webkit-max-content -webkit-max-content -webkit-max-content;
    -ms-grid-columns: max-content max-content max-content;
    grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content;
    grid-template-columns: max-content max-content max-content;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.overly-text {
    position: absolute;
    bottom: 15px;
    left: 15px;
    min-width: 278px;
    min-height: 380px;
    width: 60%;
    height: 58%;
    opacity: 0;
    background: #000;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}
.overly-text a{
    font-size: 14px;
    color: #fff;
}

.members-image {
    position: relative;
}

.member-details h3 {
    font-size: 24px;
    font-weight: 800;
}

.member-details h4 {
    font-size: 24px;
    font-weight: 500;
}
.members-image:hover .overly-text{
    opacity: 1;
    -webkit-transition: height .3s linear;
    -o-transition: height .3s linear;
    transition: height .3s linear;
    height: 60%;
}
.label {
    position: absolute;
    top: 46px;
    right: -70px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    font-weight: 800;
    text-transform: uppercase;
}
.news-later-content ul {
    list-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    margin-top: 30px;
    grid-row-gap: 11.5rem;
}

li.heading {
    -ms-grid-column-span: 12;
    grid-column: span 12;
}

li.form {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8/span 5;
}
.form-group input {
    width: 100%;
    background: transparent;
    padding: 8px 0;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    border: 0;
}
.form-group input[type="button"] {
    width: auto;
    background: transparent;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 0;
    cursor: pointer;
}
.form-group input::-webkit-input-placeholder{
    color: #fff;
}
.form-group input::-moz-placeholder{
    color: #fff;
}
.form-group input:-ms-input-placeholder{
    color: #fff;
}
.form-group input::-ms-input-placeholder{
    color: #fff;
}
.form-group input::placeholder{
    color: #fff;
}
.form-group input:focus{
    outline: 0;
}
section.news-later-wrapper {
    background: #171313;
    color: #fff;
    padding: 80px 0;
}
.form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    border-bottom: 2px solid #fff;
}

li.form p {
    margin-top: 140px;
}
li.heading h2 {
    font-size: 60px;
}

li.heading h2 span {
    position: relative;
    z-index: 2;
}

.circle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    color: #ffe818;
}

.arrow-svg {
    position: absolute;
    width: 500px;
    height: 100%;
    color: #ffe818;
    right: -500px;
    -webkit-transform: rotate(24deg);
        -ms-transform: rotate(24deg);
            transform: rotate(24deg);
    z-index: 0;
}
.grid-12{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
    padding: 50px 0;
}

.grid-12 .new-releases-content-grid ul li {
    -ms-grid-column-span: 6;
    grid-column: span 6;
}
.grid-12 .new-releases-wrapper {
    -ms-grid-column-span: 6;
    grid-column: span 6;
}
.grid-12 .new-releases-wrapper:last-child {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8/span 5;
}
.new-releases-wrapper h1 {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-size: 32px;
    font-weight: 600;
}
.new-releases-wrapper a h1 {
    position: relative;
    font-size: 24px;
    font-weight: 800;
    color: #171313;
    margin-top: 40px;
}
.new-releases-wrapper a{
    text-decoration: none;
    margin-top: 0;
}
.new-releases-wrapper a:hover{
    text-decoration: underline;
}
.new-releases-wrapper a h1:before {
    content: '● Stockholm';
    position: absolute;
    display: block;
    text-decoration: none !important;
    top: -18px;
    font-size: 16px;
}

.grid-3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 11.5rem;
}

.page-urls ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: -webkit-max-content .5rem -webkit-max-content .5rem -webkit-max-content .5rem -webkit-max-content .5rem -webkit-max-content .5rem -webkit-max-content;
    -ms-grid-rows: max-content .5rem max-content .5rem max-content .5rem max-content .5rem max-content .5rem max-content;
    grid-template-rows: repeat(6, -webkit-max-content);
    grid-template-rows: repeat(6, max-content);
    grid-auto-flow: column;
    grid-gap: .5rem;
    list-style: none;
    margin-bottom: 0;
}

.time {
    justify-self: flex-end;
}

.logo {
    max-width: 235px;
}

.logo img {
    width: 100%;
}

.page-urls ul li a {
    font-size: 24px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.time ul li {
    font-size: 24px;
    font-weight: 700;
}

.time ul li sup {
    font-size: 12px;
    font-weight: 800;
}

.grid-3 .bottom-slide {
    -ms-grid-column-span: 3;
    grid-column: span 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
}

.grid-3 .bottom-slide ul{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

.grid-3 .bottom-slide ul li {
    font-size: 18px;
    font-weight: 700;
}
.left-ind p{
    font-size: 18px;
    font-weight: 700;
    margin-right: 20px;
}
footer .bg-image {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 80%;
    max-height: 100%;
    padding-top: 1.5rem;
    overflow: hidden;
    color: #fb7ea8;
}

footer .bg-image svg {
    height: 100%;
}

footer {
    background-color: #ffd0d5;
    padding: 70px 0;
    position: relative;
}

@media screen and (max-width:1840px) {
    .container {
        width: 90%;
    }
}
@media screen and (max-width:1640px) {
    .hero-content-grid{
        -ms-grid-columns:-webkit-max-content 1fr 1fr;
        -ms-grid-columns:max-content 1fr 1fr;
        grid-template-columns:-webkit-max-content 1fr 1fr;
        grid-template-columns:max-content 1fr 1fr;
    }
    .Spotlight-members-wrraper {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .members-image img {
        width: 100%;
    }
    .arrow-svg {
        width: 100%;
        right: -100px;
    }
}
@media screen and (max-width:1340px) {
    .hero-content-grid{
        -ms-grid-columns:1fr 1fr;
        grid-template-columns:1fr 1fr;
    }
    .control-button-wrraper{
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        grid-row: auto;
        -ms-grid-column-span: 2;
        grid-column: 2 span;
    }
    .control-button-wrraper div{
        -ms-grid-columns: -webkit-max-content -webkit-max-content -webkit-max-content;
        -ms-grid-columns: max-content max-content max-content;
        grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content;
        grid-template-columns: max-content max-content max-content;
    }
    .bottom-slide {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4;
    }
    .hero-text h1 {
        font-size: 60px;
    }
    .Spotlight-members {
        margin-right: 40px;
    }

}
@media screen and (max-width:1190px) {
    .card-stack-module .card-stack {
        margin: 0 30px;
    }
    .hero-text {
        max-width: 735px;
        padding-right: 0;
    }
}
@media screen and (max-width:1024px) {
    .card-stack-module .card-stack {
        width: 80%;
        margin: auto;
        display: -ms-grid;
        display: grid;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        justify-items: center;
    }
    .hero-text {
        max-width: 735px;
        padding-right: 0;
    }
    .hero-content-grid{
        -ms-grid-columns: -webkit-max-content 1fr;
        -ms-grid-columns: max-content 1fr;
        grid-template-columns: -webkit-max-content 1fr;
        grid-template-columns: max-content 1fr;
    }
    .hero-text{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }
    .card-stack-module{
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / span 2;
        -ms-grid-row: 1;
        grid-row: 1;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .control-button-wrraper div{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        margin-right: 0;
    }

    .bottom-slide {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4;
    }
    .arrow-svg{
        display: none;
    }
    li.form {
        -ms-grid-column-span: 12;
        grid-column: span 12;
    }
    .news-later-content ul {
        grid-row-gap: 5.5rem;
    }
    li.form p {
        margin-top: 45px;
    }
    li.heading h2 {
        font-size: 50px;
    }
    .grid-12 .new-releases-wrapper {
        -ms-grid-column-span: 12;
        grid-column: span 12;
    }
    .grid-12 .new-releases-wrapper:last-child {
        -ms-grid-column-span: 12;
        grid-column: span 12;
        margin-bottom: 0;
    }
    .logo {
        -ms-grid-column: 1;
        -ms-grid-column-span: 12;
        grid-column: 1 / span 12;
    }
    .grid-3 {
        row-gap: 1.5rem;
    }
    .time {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .grid-3 .bottom-slide {
        -ms-grid-column-span: 12;
        grid-column: span 12;
    }
    
}

@media screen and (max-width:1020px) {
    
    .new-releases-content-grid ul li {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .Spotlight-members-wrraper {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .overly-text {
        position: absolute;
        bottom: 0px;
        left: 0px;
        min-width: unset;
        min-height: unset;
        width: 100%;
        height: 95%;
        font-size: 16px;
    }
    .members-image:hover .overly-text {
        height: 100%;
    }

}
@media screen and (max-width:768px) {
    .hero-text h1 {
        font-size: 48px;
        line-height: inherit;
    }
    .Spotlight-members-wrraper {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
    .Spotlight-members {
        margin-right: 15px;
    }
    .page-urls ul {
        display: block;
    }
    .page-urls ul li a {
        font-size: 18px;
    }
    .grid-3 .bottom-slide {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .grid-3 .bottom-slide a{
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    .grid-3 .left-ind {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: -27px;
    }
    footer .bg-image {
        bottom: -8px;
    }
    footer {
        overflow: hidden;
    }
    .grid-12 .new-releases-content-grid ul li {
        -ms-grid-column-span: 12;
        grid-column: span 12;
    }
}
@media screen and (max-width:590px) {
    .new-releases-wrapper h1 {
        font-size: 28px;
    }
    .new-releases-wrapper a h1 {
        font-size: 20px;
    }
    .grid-3 .left-ind p {
        margin-bottom: 12px;
    }
    .time ul li {
        font-size: 18px;
    }
    .grid-3 .left-ind {
        margin-top: -38px;
    }
    .grid-3 .bottom-slide ul li {
        font-size: 16px;
    }
    .new-releases-content-grid ul li {
        -ms-grid-column-span: 12;
        grid-column: span 12;
    }
    .container {
        width: 95%;
    }

    a.logo-wrapper {
        width: 35%;
    }

    .menu-wrapper ul li a {
        font-size: 16px;
    }

    .hero-text h1 {
        font-size: 44px;
        line-height: inherit;
    }

    .control-button-wrraper {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        grid-column: auto;
        grid-row: auto;
        margin-top: 50px;
    }
    
    .control-button-wrraper div{
        -ms-grid-columns: -webkit-max-content -webkit-max-content -webkit-max-content;
        -ms-grid-columns: max-content max-content max-content;
        grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content;
        grid-template-columns: max-content max-content max-content;
    }
}
@media screen and (max-width:390px) {
    .hero-text h1 {
        font-size: 36px;
        line-height: inherit;
    }
}